<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Mexico High Intensity Drug Trafficking Area</title>
<meta name="keywords" content="clean blog template, html css layout" />
<meta name="description" content="Clean Blog Template is provided by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link href="s3slider.css" rel="stylesheet" type="text/css" />
<!-- JavaScripts-->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/s3Slider.js"></script>

</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="index.html" >Home</a></li>
            <li><a href="faqs.html"class="current">FAQS</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>	
    
    </div> <!-- menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="#" target="_parent">NM<strong>HIDTA</strong><span>New Mexico High Intensity Drug Trafficking Area</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
    	
            <div id="templatemo_rss">
            
                <a href="#">Welcome <br /><span>to NMHIDTA database</span></a>
                
            </div>
            
            <h4>LINKS 1</h4>
            <ul class="templatemo_list">
            
            </ul>
            
            <div class="cleaner_h40"></div>
            
            <h4>Links 2</h4>
            <ul class="templatemo_list">

            </ul>
            
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
    
    <div id="templatemo_right_column">


 <!------------------------------------------------------------------------->       
        <div id="templatemo_main">
        
        
        
        
            <div class="content">

        	<h4>Frequently asked questions:</h4>
            <ul class="templatemo_list">
                <li><a href="#">Question 1</a></li>
                <li><a href="#">Question 2</a></li>
                <li><a href="#">Question 3</a></li>
                <li><a href="#">Question 4</a></li>
                <li><a href="#">Question 5</a></li>
                <li><a href="#">Question 6</a></li>
            </ul>




  		</div>
		</div>
  <!------------------------------------------------------------------------->    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2013 <a href="#">NMHIDTA</a> | 
        <a href="http://nmhidta.org" target="_parent">Database</a> by <a href="http://www.unm.edu" target="_parent">Green team</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->

</body>
</html>