<html>
<head>
<title>NM High Intensity ...</title>
</head>

<body>
    <div id="main">
          <div id="header">
                <div id="headerTitle">NMHIDTA Database</div>
        
            <div id="headerSubText">New Mexico High.................</div>
           
            </div>
    <div id="content">
    
    
        <h1><a href="#">
	     ::::
	     <%= link_to 'Home', homepage_path %> :::::
	     <%= link_to 'About us',about_path %> :::::
	     <%= link_to 'FAQs', faqs_path %> :::::
	     <%= link_to 'Resources', resources_path %>
	     :::::
	    </a>
	</h1>

    
    
    <div id="columnOnelogin">
    <div class="content">
        	<h1>Help/Manuals</h1><br />

	
    </div>
  </div>


<div id="footer"><a href="http://www.nmhidta.org/contact.htm">contact us</a> or <a href="http://www.unm.edu">UNM Students</a></div>
        
   </div>
</body>
</html>



