
  
  
  
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About NMHIDTA</title>
<meta name="keywords" content="clean blog template, about page, html css layout" />
<meta name="description" content="Clean Blog Template is a W3C standards-compliant HTML-CSS layout by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="/homepage">Home</a></li>
            <li><a href="search.html" class="current">Search</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>	
    
    </div> <!-- menu -->

    
    <div id="form_right_column">
    
    
 <!------------------------------------------------------------------------->       
        <div id="form_main">
<%= render 'form' %>
<br/>
<%= link_to 'Back', databases_path %>
        
        
        </div>
  <!------------------------------------------------------------------------->    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2013 <a href="#">NMHIDTA</a> | 
        <a href="http://nmhidta.org" target="_parent">Database</a> by <a href="http://www.unm.edu" target="_parent">Green team</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->

</body>
</html>

